app/db.sqlite3
app/svelte/vite.config.ts.time*
app/svelte/package-lock.json
app/svelte/node_modules/
app/svelte/dist/
app/svelte/src/.update_now
app/static/dist_dev/
__pycache__
.idea/
venv/
db.sqlite3